body {
    background: black;
}

.header_size{
    background: black;
}

.header_size image{
    height:30px;

}

.footer_setting{
    background: dimgray;
}

.body-margin{
    margin: 0 0 30px 0;
}

.img-fluid{
	float:left;
	margin-top:15px;
	margin-left:10%;
}

.menu{
	float:right;
	margin-top:20px;
	margin-right:10%;
}

.btn-color{
    color: red;
    margin: 13px 0 0 0;
}


.layer {
  color: black;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  -webkit-transform: perspective(50px) scale(1) translateX(0) rotateY(0);
          transform: perspective(50px) scale(1) translateX(0) rotateY(0);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.header_size .home:hover{
  -webkit-transform: perspective(50px) scale(1) translateX(-16.66%) rotateY(30deg);
          transform: perspective(50px) scale(1) translateX(-16.66%) rotateY(30deg);
}

/* 20200709 レイアウトが大きく崩れるため削除 加納
	div{
		position:relative;
	}

	canvas{
		position:absolute;
	}
*/
